/* GENERAL PRERESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE-FRIENDLY BODY */
body.app {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

.app-container {
    position: relative;
    min-height: 100vh;
    background: #f8f8f8;

    margin: 0 auto;

    max-width: 480px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


/* NAVBAR (BOTTOM MOBILE TAB STYLE) */
.navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background: #ffffff;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: #444;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar a:hover {
    color: #111;
}

/* PAGE CONTENT CONTAINER */
.screen {
    padding: 20px;
}

/* RESPONSIVE BEHAVIOUR */
@media (min-width: 768px) {
    body.app {
        max-width: 480px;
        margin: auto;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}
