.comm_loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.comm_loadingSpinner {
  width: 42px;
  height: 42px;
  border: 4px solid rgb(116, 95, 57);
  border-top-color: #CFB87C;
  border-radius: 50%;
  animation: comm_spin 0.9s linear infinite;
}

@keyframes comm_spin {
  to {
    transform: rotate(360deg);
  }
}
